<meta charset='UTF-8'>
<title>Super Awesome</title>

<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body  { padding-top:50px; }
</style>

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Tiny App
        </a>

        <ul class="nav navbar-nav">
            <% if (userId) { %>
                <h2> Welcome to TinyApp, <%= email %>!</h2>
                <form method="post" action="/logout">
                    <button type="submit">Log Out</button>
                </form>
            <% } else {%>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
        </ul>

    </div>


</div>
</nav>