<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Tiny App
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <% if (username) { %>
          <h3>Welcome <%= username %>,</h3>
          <form method="post" action="/logout"><button type="submit">Log Out</button></form>
        <% } else { %>
          <form method="post" action="/login">
          <p>
          <label for="Login">Username</label>
          <input id="username" name="username"> <button type="submit">Log In</button>
          </p>
          </form>
        <% } %>
    </div>


</div>
</nav>
