<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
    Please Log In
    </header>

  <form method="post" action="/login">
  <p>
  <label for="email">Email: </label>
  <input type="email" name="email" placeholder="email">
  </p>
  <p>
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="password">
  </p>
  <button type="submit">Log In</button>
  </form>

<a href="/register">Register</a>


