<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <h2>
    Be Here or Be Square!
    </h2>
        <form method="post" action="/register">
        <p>
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="email">
        </p>
        <p>
        <label for="password">New Password: </label>
        <input type="password" name="password" placeholder="password">
        </p>
        <button type="submit">Create Account</button>
    </form>

</body>
</html>